* {
    margin: 0;
    box-sizing: border-box;
}

header {
  background: #000;
  color: #fff;
  height: 50px;
  align-items: center;
}

nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}


main + section > section {
  float: left;
  width: 33.3333%;
}

main > section {
  width: 50%;
  float: left;
  height: 500px;
}

.right-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
